@charset "utf-8";
/* CSS Document */

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.header {
    width: 100%;
	height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    position: fixed;
/*    top: 0;*/
/*    left: 0;  */
    background-color: white;
    z-index: 1000;
}
img.logo{
    width: 150px;
}
 .list-menu{
    display: flex;
    list-style-type: none;
    font-size: 14px;
    padding: 0;
}

li{
    padding: 0 10px;
    text-transform: uppercase;
    cursor: pointer;
}
a{
    text-decoration: none;
    color: black;
}
li a:hover{
    color: orange;
}
.about-section{/* tag*/
    margin: 50px 0;
}
.title-about {
    text-align: center;
    display: block; 
    margin: auto; 
}

.title-about span {
    text-transform: uppercase;
    font-size: 25px;
    font-weight: bold;
    display: inline-block;
    position: relative; 
    padding-bottom: 20px; 
}

.title-about span:after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%) scaleX(0.5); 
    width: 100%; 
    border-bottom: 2px solid orange; 
	height: 0;}
.intro{
    margin: 0;
	padding-bottom: 30px;
}
.content-about-section{
    display: flex;
	margin: 30px 80px;
}

.left-about-section{
    margin: 0 100px 0px 0;
}
.list-about {
    display: flex;
    margin: 30px 0 70px 0;
}
.icon-about{
    width: 40px;
    height: 35px;
    
}
.list-about-content{
    padding: 0 20px;
}
.title-content {
    text-transform: uppercase;
    font-weight: bold;
    margin: 0;
	padding-bottom:10px;
}
.content-item{
    margin: 0;
}

.tile-section{
    height: 300px;
    margin: 50px 0;    
    position: relative;

}
.tile {    
    position: relative;
    height: 300px;
    object-fit: cover;
    object-position: top;
    width: 100%;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); 
    height: 300px;
}
.tile-list{
    position: absolute;
    top: 80px;
    left: 100px;
    display: flex;
    justify-content: space-between;
}
.percent{
    font-size: 40px;
    font-weight: bold;
    color: orange;
    margin: 20px 0;
}
.tile-title{
    color: white;
    font-size: 20px;
    margin: 0;
}
.tile-item{
    width: 230px;
    margin-right: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    height: 100%; 
    text-align: center;
}
.project-section{ /*tag*/
    margin: 50px 0;
}
.title-project {
    text-align: center;
    display: block; 
    margin: auto; 
}

.title-project span {
    text-transform: uppercase;
    font-size: 25px;
    font-weight: bold;
    display: inline-block;
    position: relative; 
    padding-bottom: 20px; 
}

.title-project span:after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%) scaleX(0.5); 
    width: 100%; 
    border-bottom: 2px solid orange; 
	height: 0;
}
.grid-project{
    margin: 50px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.project-item {
    position: relative;
    overflow: hidden; 
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
}
.project{
    display: block;
    width: 100%;
    height: 270px;
}
.project-item{
    margin: 30px;
    position: relative; 
}
.project-item-br
{
	width:100%;
	height:275px;
	background-color: #CA5C22;
	position: absolute;
	top:0;
	opacity: 0;
	transform: scale(0.8);
}
.project-item:hover .project-item-br
{
	opacity: 0.8;
	transition:all 0.5s linear;
	transform: scale(1);
}
.project-item .project-item-br
{
	opacity: 0;
	transition:all 0.5s linear;
	transform: scale(0.8);
}
.project-item-br center
{
	margin:50px;
}
.banner-contact{
    display: flex;
    justify-content: space-between;
    padding: 30px 100px;
    background-color: orange;
}
.left-banner-contact p {
    color:white;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 700;
}
.left-banner-contact,.right-banner-contact{
    align-self: center;
}
p.title-banner{
	font-size:30px;
}
.btn-contact {  
	background-color: white;  
	color: black;  
	border:none;
	text-transform: uppercase;
    padding: 15px;
	text-align: center;
	webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
	
}
.btn-contact:hover {  
	background-color: black;  
	color: white;  
	border:none;
}
.services-section{
    margin: 50px 0;
}
.title-services {
    text-align: center;
    display: block; 
    margin: auto; 
}

.title-services span {
    text-transform: uppercase;
    font-size: 25px;
    font-weight: bold;
    display: inline-block;
    position: relative; 
    padding-bottom: 20px; 
}
.title-services span:after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%) scaleX(0.5); 
    width: 100%; 
    border-bottom: 2px solid orange; 
    height: 0;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 30px 50px;
  }
.grid-item {
    padding: 20px;
    font-size: 30px;
    display: flex;
  }
.content-services{
    padding: 0 20px;
  }
.title-content-services{
    font-size: 15px;
    margin: 0;
    text-transform: uppercase;
    font-weight: 600;
  }
.main-content-services{
    font-size: 13px;
    margin: 10px 0;
  }
.pricing-section {
    text-align: center;
    display: block; 
    margin: auto; 
}

.title-pricing span {
    text-transform: uppercase;
    font-size: 25px;
    font-weight: bold;
    display: inline-block;
    position: relative; 
    padding-bottom: 20px; 
}

.title-pricing span:after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%) scaleX(0.5); 
    width: 100%; 
    border-bottom: 2px solid orange; 
    height: 0;
}
.grid-container-pricing{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 30px 50px;
}
.grid-item-pricing{
    border: 1px solid #ececee;
    margin: 20px;
    padding: 30px;
}
.list-package{
    display: block;
	list-style: none;
	padding:0;
}
.type-package{
    text-transform: uppercase;
    font-weight: bold;
}
.package-item{
    text-transform: capitalize;
 	line-height: 2.5;}
.btn-buy-now{
    background-color: orange;
    color: white;
    padding: 10px 15px;
    border: none;
    text-transform: uppercase;
    font-size: 13px;
    margin: 30px 0;
}
.btn-sign-up:hover{
    background-color: black;
    border: none;
}
.price {
    color: orange;
    font-size: 30px;
}

.monthly {
    color: black;
    font-size: 15px;
}
.best-seller{
    position: relative;
}
.title-label{
    position: absolute;
    text-transform: uppercase;
    top: 14px;
    font-size: 13px;
    color: white;
}
.label-pricing{
    position: absolute;
    top: -50px;
    right: 10px;
}
.news-section{
    margin: 50px 0;
}
.title-news {
    text-align: center;
    display: block; 
    margin: auto; 
}

.title-news span {
    text-transform: uppercase;
    font-size: 25px;
    font-weight: bold;
    display: inline-block;
    position: relative; 
    padding-bottom: 20px; 
}

.title-news span:after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%) scaleX(0.5); 
    width: 100%; 
    border-bottom: 2px solid orange; 
    height: 0;
}
.grid-news{
    margin: 50px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.news
{
	width:100%;
	height:680px;
	background-color: transparent;
    display: flex;
    justify-content:center;
}
.item
{
	width:30%;
	height:297px;
	background-color: transparent;
	float:left;
	margin:60px 30px;
}
h3
{
    text-align:left;
    text-transform: uppercase;
    padding-top:20px;
}
.item h3 :hover 
{
 color:orange;
}
.item p
{
    float:left;
    padding-right:20px;
    font-size: 15px;
}
.item p i a
{
    color:orange;
    text-decoration: none;
}
.item p i  :hover
{
    color:black;
}
.grid-container-final {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 50px 100px;
    background-color: #161616;
    color: white;
  }
  .grid-item-final {
    padding: 20px;
    font-size: 30px;
    margin: 20px;
    margin: 0;
    width: 250px;
    /* //text-align: center; */
  }
  .title-item-final{
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
  }
  .content-item-about{
    font-size: 13px;
  }
  .link-list-item{
    text-decoration: none;
    color: gray;
  }
  .list-recent-comments ul{
      display: inline-block;
     
    }
    ul.list-recent-comments{
        margin: 0;
        padding: 0;
    }
    .list-item-recent-comment{
        text-transform: capitalize;
        list-style-type: none;
        font-size: 14px;
        line-height: 2rem;
        padding: 0;
    }
    .list-item-recent-comment:hover{
        color: orange;
    }
    .recent-comment-line-title{
        font-style: italic;
        color: gray;
        font-size: 13px;
        margin: 0;
    }
    .recent-comment-line-content{
        font-size: 16px;
    }
    .recent-comment-line-content:hover{
        color: orange;
    }
    .adress, .phone, .email, .open-hour{
        font-size: 13px;
        color: gray;
    }
    .phone-ref, .mail-ref{
        color: gray;
    }
    .phone-ref:hover, .mail-ref:hover{
        color: orange;
    }
.footer
{
	width:100%;
	height:50px;
	background-color:black;
}
.footer p.text-footer
{
	
	font-size:11pt;
	color:gray;
	padding:16px 40px;
	text-transform: capitalize;
	margin:0;
}
.icon-svg
{
	width:100px;
	float: right;
	
}

.footer svg
{
	width:15px;
	margin:18px 8px;
	float:right;
	top:0;
}
.footer svg :hover
{
	fill:orange;
	
}
.twitter
{
	fill:white;
}
.twitter :hover
{
	fill:orange;
}